* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Releway", sans-serif;
}

.center {
  display: flex;
  max-width: 1100px;
  padding: 0 2%;
  margin: 0 auto;
  flex-wrap: wrap;
}

section.main {
  background-image: url("images/bg.svg");
  background-position: center;
  background-size: cover;
  min-height: 700px;
  padding: 20px 0 80px 0;
}

.menu {
  display: flex;
  width: 100%;
}

.logo-menu {
  width: 50%;
}

.items-menu {
  width: 50%;
}

.items-menu a {
  font-weight: bold;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.05s ease-in-out;
}

.items-menu a:hover {
  border-bottom: 2px solid #ffdd33;
}

.items-menu a.contact-btn {
  background-color: #0f3fd3;
  padding: 10px 10px;
  border-radius: 10px;
}

.items-menu a.contact-btn:hover {
  border: 0;
}

.mockup {
  display: block;
  width: 100%;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

.mockup h1 {
  font-size: 50px;
}

.mockup img {
  max-width: 100%;
}

section.marcas {
  padding: 100px 0;
}

section.marcas img {
  width: calc(100% / 5);
}

section.porque-nos {
  padding: 40px 0;
  background-color: #fbfcfe;
}

section.porque-nos > .center > h2 {
  font-size: 50px;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

section.porque-nos > .center > p {
  font-size: 20px;
  text-align: center;
  color: #7e92ac;
  width: 100%;
  margin-top: 16px;
}

section.porque-nos > .center {
  max-width: 1280px;
}

.diferenciais {
  display: flex;
  margin-top: 50px;
}

.box-diferenciais {
  width: 31%;
  box-shadow: 0px 20px 40px #2426721c;
  margin-right: 2%;
  padding: 10px 20px;
  border-radius: 10px;
}

.box-diferenciais h3 {
  font-size: 24px;
  margin: 20px 0;
  color: #000;
}

.box-diferenciais p {
  font-size: 13px;
  color: #7e92ac;
  margin-bottom: 34px;
}

section.cta {
  background-image: url("images/banner.png");
  background-size: cover;
  background-position: center;
  padding: 20px 10px;
  min-height: 200px;
  text-align: center;
  color: #fff;
}

section.cta h2,
section.cta h4 {
  font-weight: normal;
  margin: 10px 0;
}

section.cta h2 {
  font-size: 42px;
}

section.cta a {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 8px;
  font-weight: bold;
  background-color: #ffdd33;
  text-decoration: none;
  color: #0f3fd3;
  margin-top: 20px;
}

section.beneficios {
  padding: 50px 0;
}

.lista-beneficios {
  width: 50%;
  margin-top: 30px;
}

.lista-beneficios h1 {
  color: #000;
  font-size: 40px;
}

.lista-beneficios p {
  color: #7e92ac;
  vertical-align: middle;
  font-size: 14px;
}

.lista-beneficios span {
  display: inline-block;
  width: calc(100% - 70px);
}

.lista-beneficios img {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
}

.img-beneficios {
  width: 50%;
}

.img-beneficios img {
  width: 100%;
}

/*! RESPONSIVO */

@media screen and (max-width: 768px) {
  .diferenciais {
    flex-wrap: wrap;
  }

  .box-diferenciais {
    width: 100%;
    margin-right: 0;
  }

  section.marcas > .center {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  section.marcas img {
    width: 100%;
    max-width: 220px;
    align-self: center;
  }

  .lista-beneficios,
  .img-beneficios {
    width: 100%;
    margin-bottom: 30px;
  }
}
